<div class="add-player-container">
  <form [formGroup]="addPlayerForm" (ngSubmit)="onSubmit()">
    <h2>Add Player</h2>
    <!-- Player Name -->
    <div class="form-group">
      <label for="playerName">Player Name</label>
      <input type="text" id="playerName" formControlName="playerName" placeholder="Enter player's name"
        [class.invalid]="isFieldInvalid('playerName')" />
      <small *ngIf="isFieldInvalid('playerName')">Name is required (minimum 3 characters).</small>
    </div>
    <!-- Age -->
    <div class="form-group">
      <label for="age">Age</label>
      <input  id="age" formControlName="age" placeholder="Enter player's age"
        [class.invalid]="isFieldInvalid('age')" />
      <small *ngIf="isFieldInvalid('age')">Age is required (between 10 and 50).</small>
    </div>
    <!-- Sport -->
    <div class="form-group">
      <label for="sport">Sport</label>
      <select id="sport" formControlName="sport" [class.invalid]="isFieldInvalid('sport')">
        <option value="" disabled selected>Select a sport</option>
        <option *ngFor="let sport of sports" [value]="sport">{{ sport }}</option>
      </select>
      <small *ngIf="isFieldInvalid('sport')">Please select a sport.</small>
    </div>
    <!-- Teams -->
    <div class="form-group">
      <label for="teams">Teams</label>
      <input type="text" id="teams" formControlName="teams" placeholder="Enter player's team(s)"
        [class.invalid]="isFieldInvalid('teams')" />
      <small *ngIf="isFieldInvalid('teams')">Teams is required.</small>
    </div>
    <!-- Profile Picture -->
    <div class="form-group">
      <label for="profilePicture">Profile Picture</label>
      <input type="file" id="profilePicture" (change)="onFileSelect($event)"
        [class.invalid]="isFieldInvalid('profilePicture')" />
      <small *ngIf="isFieldInvalid('profilePicture')">Please upload a profile picture.</small>
    </div>
    <div class="button-group d-flex">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="submit" [disabled]="addPlayerForm.invalid">Add Player</button>
    </div>  </form>
</div>