<div class="add-player-container">
  <form [formGroup]="addPlayerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="playerName">Player Name<span class="star_imp"> *</span></label>
      <input type="text" id="playerName" formControlName="playerName" placeholder="Enter player's name"
        [class.invalid]="isFieldInvalid('playerName')" />
      <small *ngIf="isFieldInvalid('playerName')">Name is required (minimum 3 characters).</small>
    </div>
    <!-- Age -->
    <div class="form-group">
      <label for="age">Age<span class="star_imp"> *</span></label>
      <input id="age" formControlName="age" placeholder="Enter player's age" [class.invalid]="isFieldInvalid('age')" />
      <small *ngIf="isFieldInvalid('age') && addPlayerForm.get('age')?.hasError('required')">
        Age is required.
      </small>
      <small *ngIf="isFieldInvalid('age') && addPlayerForm.get('age')?.hasError('min')">
        Age must be at least 10.
      </small>
      <small *ngIf="isFieldInvalid('age') && addPlayerForm.get('age')?.hasError('max')">
        Age cannot more than 50.
      </small>
      <small *ngIf="isFieldInvalid('age') && addPlayerForm.get('age')?.hasError('pattern')">
        Please enter a valid number.
      </small>
    </div>
    <!-- Sport -->
    <div class="form-group">
      <label for="sport">Sport<span class="star_imp"> *</span></label>
      <p-multiSelect [options]="sports" id="players" formControlName="sport" placeholder="Select players"
        [filter]="true" [class.invalid]="isFieldInvalid('players')"></p-multiSelect>
      <small *ngIf="isFieldInvalid('players')">Select at least one player.</small>
      <small *ngIf="isFieldInvalid('sport')">Please select a sport.</small>
    </div>
    <div class="form-group">
      <label for="profilePicture">Profile<span class="star_imp"> *</span></label>
      <input type="file" id="profilePicture" formControlName="profilePicture" (change)="onFileSelect($event)"
        [class.invalid]="isFieldInvalid('profilePicture')" />
      <small *ngIf="isFieldInvalid('profilePicture')">Please upload a profile picture.</small>
    </div>
    <div class="button-group d-flex">
      <button class="button_type" type="button" (click)="onCancel()">Cancel</button>
      <button class="button_type" type="submit" [disabled]="addPlayerForm.invalid">{{ isEditMode ? 'Update Player' :
        'Add Player'
        }}</button>
    </div>
  </form>
</div>