<div class="container">
    <div class="header">
        <h5>FREE TOURNAMENT APPLICATION</h5>
        <h1><span class="highlight">Game Changing</span> Way To Organize Tournaments</h1>
        <p>
            An End-To-End Solution To Create And Manage Your Tournaments, Starting With Registrations, 
            Payment Fee Collections, Brackets And Ladder Generation, Scheduling, Scoring And Performance Tracking.
        </p>
    </div>
   
    <div class="features">
        <div class="feature" routerLink="/players" routerLinkActive="active-tab" >
            <i class="icon">👤</i>
            <p>Manage Players</p>
        </div>
        <div class="feature"  routerLink="/teams" routerLinkActive="active-tab" >
            <i class="icon">📅</i>
            <p>Manage Teams</p>
        </div>
        <div class="feature"  routerLink="/tournament">   
            <i class="icon">🎨</i>
            <p>Tournament schduler</p>
        </div>
        <div class="feature">
            <i class="icon">📊</i>
            <p>Upcoming Tournaments</p>
        </div>
        
    </div>
</div>