<app-table
[tableTitle]="tableTitle"
[data]="allTeamsDataArr"
[addButtonLabel]="addButtonLabel"
(onAdd)="handleAdd()"
(onSearch)="handleSearch($event)" (onDelete)="deleteTeam($event)"
></app-table>
<p-dialog [(visible)]="displayAddTeamsDialog" [modal]="true" [closable]="false">
    <!-- <app-add-player [isEditMode]="isEditMode" (formSubmitted)="handleDialogClose($event)"
      (cancel)="handleDialogClose()"></app-add-player> -->
      <app-add-team (cancel)="handleDialogClose()"  (formSubmitted)="handleDialogClose($event)"></app-add-team>
  </p-dialog>