<app-table [tableTitle]="tableTitle" [data]="allTeamsDataArr" [tableHeader]="tableHeader"
  [addButtonLabel]="addButtonLabel" [totalRecords]="totalRecords"
  (onAdd)="handleAdd($event)" (onSearch)="handleSearch($event)" (onEdit)="editPlayer($event)"
  (onDelete)="deletePlayer($event)" (pagination)="onPageChange($event)">
</app-table>
<p-dialog [(visible)]="displayAddPlayerDialog" [modal]="true" [closable]="true" [header]="popupHeading">
  <app-add-player [onEditPlayerData]="editPlayerData" (formSubmitted)="handleDialogClose($event)"
    (cancel)="handleDialogClose()">
  </app-add-player>
</p-dialog>