<app-table [tableTitle]="tableTitle" [data]="allTournamentsArr" [addButtonLabel]="addButtonLabel"
    (onAdd)="onCreateTournament($event)" (onSearch)="handleSearch($event)"
    (onDelete)="deleteConfirmation($event)"></app-table>

<p-dialog header="Add New Tournament" [(visible)]="isAddTournament" [modal]="true" [style]="{ width: '40vw' }"
    [draggable]="false" [resizable]="false">
    <form [formGroup]="tournamentForm" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-3">
        <div class="form-group">
            <label for="name">Tournament Name : </label>
            <input type="text" id="name" formControlName="name" class="form-control"
                placeholder="Enter tournament name" />
            <small *ngIf="name?.errors?.['required'] && tournamentForm.get('name')?.touched" class="text-danger">
                Name is required.
            </small>
            <small *ngIf="name?.errors?.['minlength']" class="text-danger">
                Name must be atleast 2 characters
            </small>
            <small *ngIf="name?.errors?.['maxlength']" class="text-danger">
                Name can not exceed 25 characters
            </small>
        </div>
        <div class="form-group">
            <label for="name">Description : </label>
            <textarea type="text" id="name" formControlName="description" class="form-control"
                placeholder="Enter tournament description"> </textarea>
        </div>
        <div class="d-flex gap-2">
            <div class="w-50">
                <label for="sport">Sport : </label>
                <div>
                    <p-dropdown [options]="sportNames" class="sportClass" formControlName="sport" optionLabel="name"
                        [showClear]="true" placeholder="Select sport"> </p-dropdown>
                </div>
                <small *ngIf="tournamentForm.get('sport')?.invalid && tournamentForm.get('sport')?.touched"
                    class="text-danger">
                    Sport is required.
                </small>
            </div>
            <div class="form-group w-50">
                <label for="teams">Teams : </label>
                <div>
                    <p-multiSelect [options]="teamsOptions" formControlName="teams" defaultLabel="Select teams"
                        class="w-100 sportClass">
                    </p-multiSelect>
                </div>
                <small *ngIf="tournamentForm.get('teams')?.invalid && tournamentForm.get('teams')?.touched"
                    class="text-danger">
                    At least one team must be selected.
                </small>
            </div>
        </div>
        <div class="d-flex gap-2">
            <div class="d-flex gap-2 w-50">
                <button class="btn border-secondary" [ngClass]="sportTypeString==='pool'? 'btn btn-success':''"
                    (click)="sportTypeString='pool';$event.stopPropagation()">Pools</button>
                <button class="btn border-secondary" [ngClass]="sportTypeString==='format'? 'btn btn-success':''"
                    (click)="sportTypeString='format';$event.stopPropagation()">Format</button>
            </div>
            <div class="w-50 sportClass">
                <p-dropdown *ngIf="sportTypeString==='pool'" [options]="[2,3,4,5,6]" formControlName="pools"
                    placeholder="Select no. of pools"></p-dropdown>
                <p-dropdown [options]="sportsFormat" *ngIf="sportTypeString==='format'" optionLabel="name"
                    formControlName="format" placeholder="Select format"> </p-dropdown>
            </div>
        </div>
        <div class="d-flex">
            <div class="form-group">
                <label for="profile">Profile : </label>
                <div class="d-flex gap-2">
                    <img *ngIf="tournamentProfile" [src]="tournamentProfile" alt="profile" height="50px" width="50px"
                        style="border-radius: 50%;">
                    <input type="file" formControlName="profile" class="formControl" accept="image/*"
                        (change)="onFileSelected($event)">
                </div>
            </div>
            <div class="form-group">
                <label for="maxTeams">Max Teams : </label>
                <input type="number" id="maxTeams" formControlName="maxTeams" class="form-control"
                    placeholder="Enter max teams (optional)" />
                <small *ngIf="tournamentForm.get('maxTeams')?.errors?.['min']" class="text-danger">
                    Minimum 2 teams are required.
                </small>
                <small *ngIf="tournamentForm.get('maxTeams')?.errors?.['max']" class="text-danger">
                    Maximum 30 teams allowed.
                </small>
            </div>
        </div>
        <div class="d-flex gap-3">
            <div class="form-group w-50 sportClass">
                <label for="startDate">Start Date : </label>
                <div>
                    <p-calendar id="startDate" formControlName="startDate" [minDate]="currentDate" [showIcon]="true"
                        dateFormat="yy-mm-dd" placeholder="Select start date" class="w-100 custom-calendar">
                    </p-calendar>
                </div>
            </div>
            <div class="form-group w-50 sportClass">
                <label for="endDate">End Date : </label>
                <div>
                    <p-calendar id="endDate" formControlName="endDate" [showIcon]="true" dateFormat="yy-mm-dd"
                        class="w-100 custom-calendar" placeholder="Select end date">
                    </p-calendar>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button type="button" class="btn btn-secondary me-2" (click)="isAddTournament = false">
                Cancel
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="tournamentForm.invalid">
                Save
            </button>
        </div>
    </form>
</p-dialog>

<p-toast />
<p-confirmDialog>
</p-confirmDialog>
<!-- <div class="card flex justify-content-center">
    <p-toast />
    <p-confirmDialog #confirmDelete>
        <ng-template let-message>
            <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
                <div
                    class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
                    <i class="pi pi-trash text-5xl"></i>
                </div>
                <span class="font-bold text-2xl block mb-2 mt-4">
                    {{ message.header }}
                </span>
                <p class="mb-0">{{ message.message }}</p>
                <div class="flex align-items-center gap-2 mt-4">
                    <button pButton label="Cancel" severity="secondary" (click)="confirmDelete.reject()"
                        class="p-button-outlined w-8rem ">
                    </button>
                    <button pButton label="Delete" severity="danger" (click)="confirmDelete.accept()" class="w-8rem">
                    </button>
                </div>
            </div>
        </ng-template>
    </p-confirmDialog>
</div> -->