<header class="header-bar">
    <div class="d-flex justify-content-center align-items-center gap-3">

        <div class="user-profile-logo">
            <img src="../../../../../assets/images/tournament.jfif" alt="Profile" />
        </div>
        <div>
            <h3>TMS</h3>
        </div>
    </div>

    <!-- <div class="search-bar">
        <input type="text" placeholder="Search..." />
    </div> -->
    <div class="user-profile" (click)="op.toggle($event)">
        <img src="../../../../../assets/images/tmspro.png" alt="Profile" />
    </div>
</header>
<div style="display: none;">
    <p-overlayPanel #op>
        <div class="profileClass">
            <div (click)="UserProfile()"> Profile </div>
            <div class="logout_text" (click)="userLogout()">
                <span>Logout</span>
            </div>
        </div>
    </p-overlayPanel>
</div>
<p-dialog header="User Profile" [modal]="true" [(visible)]="showUserProfile" [style]="{ width: '25rem' }">
 <app-user-profile (closeProfile)="UserProfile($event)"></app-user-profile>
</p-dialog>