<div>
    <div>
        <button class="btn btn-primary rounded" pTooltip="Back" tooltipPosition="top" (click)="goBack()"> <i
                class="pi pi-arrow-left" style="font-size: 1rem"></i> </button>

    </div>
    <div class="row tourImgRef">
        <div class="col-md-6 ">
            <img [src]="tourObj?.profile" alt="" height="350px" width="400px">
        </div>
        <div class="col-md-6">
            <div class="d-flex gap-3">
                <div>
                    <b>Starting Date :</b>
                    <p> {{tourObj?.startDate | date:'dd/MMM/yyy'}} </p>
                </div>
                <div>
                    <b>Ending Date :</b>
                    <p> {{tourObj?.endDate | date:'dd/MMM/yyy'}} </p>
                </div>
            </div>
            <b> Teams : </b>
            <div class="d-flex">
                <div *ngFor="let team of tourObj?.teams">
                    <div class="d-flex gap-3 ">
                        <div>
                            <ng-container *ngIf="team.profile;else noImage">
                                <img [src]="team.profile" alt="Profile" class="profile_images">
                            </ng-container>
                            <ng-template #noImage>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    class="bi bi-person-circle no_profile_images" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                    <path fill-rule="evenodd"
                                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                                </svg>
                            </ng-template>
                        </div>
                        <div>
                            <p> {{team.teamName}} </p>
                            <!-- <p> No of players : {{team.players.length}} </p> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center align-items-center">
            <ng-container *ngIf="tourObj?.pools">
                <div class="d-flex gap-2">

                    <div *ngFor="let teams of tourObj?.poolMatches">
                        <table class="table">
                            <thead>
                                <th>SNo</th>
                                <th>Team</th>
                                <th>Match</th>
                                <th>Win</th>
                                <th>Loss</th>
                                <th>NRR</th>
                                <th>Points</th>
                            </thead>
                            <ng-container *ngFor="let team of teams.teams;let i=index">
                                <tbody>
                                    <tr>
                                        <td> {{i+1}} </td>
                                        <td>{{team.teamName}} </td>
                                        <td> - </td>
                                        <td> - </td>
                                        <td> - </td>
                                        <td> - </td>
                                        <td> - </td>

                                    </tr>
                                </tbody>
                            </ng-container>
                        </table>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>