<div class="form-container">
  <form [formGroup]="addTeamForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div><label for="teamName">Team Name</label>
      </div>
      <input pInputText type="text" id="teamName" formControlName="teamName" placeholder="Enter Team Name"
        [class.invalid]="isFieldInvalid('teamName')" />
      <small *ngIf="isFieldInvalid('teamName')">Team Name is required.</small>
    </div>
    <div class="form-group">
      <div><label for="sport">Sport</label>
      </div>
      <p-dropdown [options]="sports" id="sport" formControlName="sport" placeholder="Select a sport" [filter]="true"
        [class.invalid]="isFieldInvalid('sport')"></p-dropdown>
      <small *ngIf="isFieldInvalid('sport')">Please select a sport.</small>
    </div>
    <div class="form-group">
      <label for="players">Players</label>
      <p-multiSelect [options]="players" id="players" formControlName="players" placeholder="Select players"
        [filter]="true" [class.invalid]="isFieldInvalid('players')"></p-multiSelect>
      <small *ngIf="isFieldInvalid('players')">Select at least one player.</small>
    </div>
    <div class="button-group d-flex">
      <button class="button_type" type="button" (click)="onCancel()">Cancel</button>
      <button class="button_type" type="submit" [disabled]="addTeamForm.invalid">{{ isEditMode ? 'Update Team' :
        'Add Team'
        }}</button>
    </div>
  </form>
</div>