// .form-container {
//     width: 500px;
//     margin: 50px auto;
//     padding: 20px;
//     border: 1px solid #ccc;
//     border-radius: 8px;
//     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
//     font-family: Arial, sans-serif;
//     background: #f9f9f9;
//   }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  input{
    width: 100%;
  }
  p-dropdown{
    width: 100%;
  }
  
  .form-group {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // margin-bottom: 20px;
  }
  
  label {
    width: 30%;
    font-weight: bold;
  }
  
  input,
  p-dropdown,
  p-multiSelect {
    width: 65%;
  }
  
  input.invalid,
  p-dropdown.invalid,
  p-multiSelect.invalid {
    border: 1px solid #e74c3c !important;
  }
  
  small {
    color: #e74c3c;
    font-size: 12px;
    display: block;
    margin-top: 5px;
  }
  
  // button {
  //   width: 100%;
  //   padding: 10px;
  //   background: #008000;
  //   color: white;
  //   border: none;
  //   border-radius: 4px;
  //   font-size: 16px;
  //   cursor: pointer;
  // }
  
  // button:disabled {
  //   background: #cccccc;
  //   cursor: not-allowed;
  // }
  button:disabled {
    background: #cccccc;
    cursor: not-allowed;
  }
  .button_type{
    display: flex;
    justify-content: end;
    border: none;
    font-size: 16px;
    padding: 8px;
    margin: 5PX;
  }
  .button-group{
    display: flex;
    justify-content: end;
    margin-top: 10px;
  }
  