.form-container {
  width: 500px;
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
}

p-dropdown {
  width: 100%;
}

label {
  width: 30%;
  font-weight: bold;
}

input,
p-dropdown,
p-multiSelect {
  width: 65%;
}

input.invalid,
p-dropdown.invalid,
p-multiSelect.invalid {
  border: 1px solid #e74c3c !important;
}

small {
  color: #e74c3c;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

input {
  width: 100%;
}

button:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

.button_type {
  display: flex;
  justify-content: end;
  border: none;
  font-size: 16px;
  padding: 8px;
  margin: 5PX;
}

.button-group {
  display: flex;
  justify-content: end;
}