<div class="dynamic-table">
  <div class="table-header">
    <div class="search-container">
      <input [formControl]="searchControl" class="search-input" placeholder="Search" pInputText />
    </div>
    <button pButton type="button" (click)="handleAdd()">{{ addButtonLabel}}</button>
  </div>

  <p-table [value]="filteredData" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'">
    <ng-template pTemplate="header">
      <tr>
        <ng-container *ngFor="let column of tableHeadings">
          <th>
            {{ column }}
          </th>
        </ng-container>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td *ngFor="let column of tableObjKeys">

          <ng-container *ngIf="column === 'profile'; else defaultData">
            <img [src]="rowData[column]" alt="Profile" style="width: 50px; height: 50px; border-radius: 50%;">
          </ng-container>
          <ng-template #defaultData>
            <ng-container *ngIf="checkingIsArray(rowData[column]);else textData">
              {{rowData[column].join(',')}}
            </ng-container>
            <ng-template #textData>
              {{rowData[column]}}
            </ng-template>
          </ng-template>
</td>
          <!-- {{ rowData[column] }} -->
          <td>
            <!-- <button pButton type="button" icon="pi pi-pencil" class="p-button-text" ></button>
            <button pButton type="button" icon="pi pi-trash" class="p-button-danger p-button-text" ></button> -->
            <span (click)="handleEdit(rowData)"><i class="pi pi-pen-to-square" ></i> </span>
            <span (click)="handleDelete(rowData)"><i class="pi pi-trash" ></i> </span>
          </td>
      </tr>
    </ng-template>
  </p-table>
</div>