.dynamic-table {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background: #f9f9f9;
}
p-table table {
  table-layout: fixed;
  width: 100%; 
}

.table-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.search-container {
  flex: 1;
}

.no_profile_images {
  font-size: 1rem;
}

.search-input {
  width: 40%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.actionIcon {
  font-size: 1.3rem;
}

.full-screen-container {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  z-index: 1000;
}