<ng-container *ngIf="!isForgotScreen">
  <div class="login-container">
    <form [formGroup]="loginForm">
      <h2>Login</h2>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="Enter your email"
          [class.invalid]="isFieldInvalid('email')" />
        <small *ngIf="isFieldInvalid('email')">Enter a valid email address.</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-container">
          <input [type]="passwordType"  id="password" formControlName="password"
            placeholder="Enter your password" [class.invalid]="isFieldInvalid('password')" />
          <span (click)="togglePasswordVisibility()" class="eyeClass">
            <i class="bi" [ngClass]="pswdVisible ? 'bi-eye-slash' : 'bi-eye'"></i>
          </span>
        </div>
      </div>

      <button type="submit" [disabled]="loginForm.invalid" (click)="onsubmitForm()">Login</button>
      <div class="d-flex ">
        <p class="forgot_txt" (click)="isForgotScreen=true"> Forgot password </p>
      </div>
      <div class="d-flex">
        <p>Don't have an account ? <a href="" routerLink="/signup"> Create</a> </p>
      </div>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="isForgotScreen">
  <div class="login-container">
    <form #forgotForm="ngForm" (ngSubmit)="onForgotformSubmit(forgotForm)">
      <h2>Forgot Password </h2>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" #email="ngModel" ngModel placeholder="Enter your email" required />
      </div>
      <button type="submit" [disabled]="forgotForm.invalid">Submit</button>
    </form>
  </div>
</ng-container>