/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import 'primeflex/primeflex.scss';

body {
  margin: 0px;
}

.sportClass {
  .p-dropdown {
    width: 100%;
  }
  .p-multiselect {
    width: 100%;
  }
  .p-calendar {
    width: 100%;
  }
}
.custom-calendar {
  .p-datepicker table td > span {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.p-multiselect-items-wrapper,
.p-dropdown-items-wrapper {
  ul {
    padding-left: 0px;
  }
}
.star_imp{
  color: red;
}
.courser_pointer{
  cursor: pointer;
}
.p-dialog .p-dialog-content{
  padding: 0px;
  // padding-left: 20px;
  // padding-top: 10px;
 
}
.p-multiselect{
  width: 100%;
}
.p-dialog .p-dialog-header{
  padding-top: 14px;
  padding-left: 20px;padding-bottom: 0px
}
